!!!html
%html
  %head
    %meta{:charset => 'utf-8'}
    %title LibraryData
    %link{:rel => 'stylesheet', type: 'text/css', :href => '/stylesheets/jquery-ui.min.css'}/
    %link{:rel => 'stylesheet', type: 'text/css', :href => '/stylesheets/jquery-ui-blitzer.css'}/
    %link{:rel => 'stylesheet', type: 'text/css', :href => '/stylesheets/librarydata.css'}/
    %script{type: 'text/javascript', src: '//maps.google.com/maps/api/js?sensor=false&key=AIzaSyD0BuBg3rdJZ31S-CtFVFBqliX29VFv-Bk' }
    %script{type: 'text/javascript', src: '/javascripts/jquery-3.2.1.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/jquery-ui.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/librarydata.js'}
  %body{'data-base-url' => 'https://librarydata.bodleian.ox.ac.uk'}
    %aside#login_status
      - if @me
        logged in as
        %a{:href => "/users/#{h(@me.username)}"}= h(@me.username)
        |
        - if @me.is_admin?
          %a{:href => '/manage'} manage
          |
          %a{:href => '/social'} social
          |
        %a{:href => '/logout'} log out
      - else
        not logged in
        |
        %a{:href => '/login'} log in

    %h1
      %a{:href => '/'} LibraryData
      
    = yield
