%h2#title Log in

- if @errors
  %p.errors
    = @errors
%p
  Please log in to edit library data.

%form{method: 'post', action: '/login', id: 'login_form'}
  %input{type: 'hidden', name: 'return_to', value: @return_to || params[:return_to]}

  %p.field
    %label{for: 'username'} Username:
    %input#username{type: 'text', name: 'username', value: params[:username], autofocus: 'autofocus'}
    
  %p.field
    %label{for: 'password'} Password:
    %input#password{type: 'password', name: 'password'}
    
  %p.buttons
    %input{type: 'submit', value: 'Log In'}
